<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActualMinimumSystemPartition</key>
	<integer>11690</integer>
	<key>Build</key>
	<string>25C56</string>
	<key>ContainsSFRContent</key>
	<true/>
	<key>CryptexSizeInfo</key>
	<array>
		<dict>
			<key>CryptexSize</key>
			<integer>50</integer>
			<key>CryptexTag</key>
			<string>cryptex-app</string>
		</dict>
		<dict>
			<key>CryptexSize</key>
			<integer>2274</integer>
			<key>CryptexTag</key>
			<string>cryptex-system-x86_64</string>
		</dict>
		<dict>
			<key>CryptexSize</key>
			<integer>6340</integer>
			<key>CryptexTag</key>
			<string>cryptex-system-arm64e</string>
		</dict>
	</array>
	<key>DataTemplateSize</key>
	<integer>1039524416</integer>
	<key>DeviceClass</key>
	<string>MacPro</string>
	<key>EAPFSEnabled</key>
	<true/>
	<key>HardwareModel</key>
	<string>J160AP</string>
	<key>MinimumSystemPartition</key>
	<integer>11690</integer>
	<key>PackageVersion</key>
	<string>3.0</string>
	<key>ProductType</key>
	<string>MacPro7,1</string>
	<key>ProductVersion</key>
	<string>26.2</string>
	<key>RequiredSpace</key>
	<integer>34309439488</integer>
	<key>ReserveFileAware</key>
	<true/>
	<key>SizeArchiveRoot</key>
	<integer>15895588864</integer>
	<key>SizePatchedBinaries</key>
	<integer>0</integer>
	<key>SizePatchedBinaries-Snapshot</key>
	<integer>5392961075</integer>
	<key>SystemPartitionPadding</key>
	<dict>
		<key>1024</key>
		<integer>1280</integer>
		<key>128</key>
		<integer>1280</integer>
		<key>16</key>
		<integer>160</integer>
		<key>256</key>
		<integer>1280</integer>
		<key>32</key>
		<integer>320</integer>
		<key>512</key>
		<integer>1280</integer>
		<key>64</key>
		<integer>640</integer>
		<key>768</key>
		<integer>1280</integer>
		<key>8</key>
		<integer>80</integer>
	</dict>
	<key>SystemUpdatePathMap</key>
	<dict/>
	<key>SystemVolumeSealingOverhead</key>
	<integer>230</integer>
	<key>TargetUpdate</key>
	<string>25C56</string>
	<key>TargetUpdateBridgeVersion</key>
	<string>23.16.12048.0.0,0</string>
	<key>TrainName</key>
	<string>CheerC</string>
</dict>
</plist>
