<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceMap</key>
	<array>
		<dict>
			<key>BDID</key>
			<integer>58</integer>
			<key>BoardConfig</key>
			<string>j152fmacap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>15</integer>
			<key>BoardConfig</key>
			<string>j160macap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>j180dap</string>
			<key>CPID</key>
			<integer>24610</integer>
			<key>Platform</key>
			<string>t6022</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>35</integer>
			<key>BoardConfig</key>
			<string>j185fmacap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>34</integer>
			<key>BoardConfig</key>
			<string>j185macap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>62</integer>
			<key>BoardConfig</key>
			<string>j214kmacap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>30</integer>
			<key>BoardConfig</key>
			<string>j214macap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>56</integer>
			<key>BoardConfig</key>
			<string>j215macap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>34</integer>
			<key>BoardConfig</key>
			<string>j274ap</string>
			<key>CPID</key>
			<integer>33027</integer>
			<key>Platform</key>
			<string>t8103</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>36</integer>
			<key>BoardConfig</key>
			<string>j293ap</string>
			<key>CPID</key>
			<integer>33027</integer>
			<key>Platform</key>
			<string>t8103</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>38</integer>
			<key>BoardConfig</key>
			<string>j313ap</string>
			<key>CPID</key>
			<integer>33027</integer>
			<key>Platform</key>
			<string>t8103</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>j314cap</string>
			<key>CPID</key>
			<integer>24577</integer>
			<key>Platform</key>
			<string>t6001</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>8</integer>
			<key>BoardConfig</key>
			<string>j314sap</string>
			<key>CPID</key>
			<integer>24576</integer>
			<key>Platform</key>
			<string>t6000</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>j316cap</string>
			<key>CPID</key>
			<integer>24577</integer>
			<key>Platform</key>
			<string>t6001</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>j316sap</string>
			<key>CPID</key>
			<integer>24576</integer>
			<key>Platform</key>
			<string>t6000</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j375cap</string>
			<key>CPID</key>
			<integer>24577</integer>
			<key>Platform</key>
			<string>t6001</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>12</integer>
			<key>BoardConfig</key>
			<string>j375dap</string>
			<key>CPID</key>
			<integer>24578</integer>
			<key>Platform</key>
			<string>t6002</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>40</integer>
			<key>BoardConfig</key>
			<string>j413ap</string>
			<key>CPID</key>
			<integer>33042</integer>
			<key>Platform</key>
			<string>t8112</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j414cap</string>
			<key>CPID</key>
			<integer>24609</integer>
			<key>Platform</key>
			<string>t6021</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j414sap</string>
			<key>CPID</key>
			<integer>24608</integer>
			<key>Platform</key>
			<string>t6020</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>46</integer>
			<key>BoardConfig</key>
			<string>j415ap</string>
			<key>CPID</key>
			<integer>33042</integer>
			<key>Platform</key>
			<string>t8112</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>j416cap</string>
			<key>CPID</key>
			<integer>24609</integer>
			<key>Platform</key>
			<string>t6021</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>j416sap</string>
			<key>CPID</key>
			<integer>24608</integer>
			<key>Platform</key>
			<string>t6020</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>40</integer>
			<key>BoardConfig</key>
			<string>j433ap</string>
			<key>CPID</key>
			<integer>33058</integer>
			<key>Platform</key>
			<string>t8122</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>j434ap</string>
			<key>CPID</key>
			<integer>33058</integer>
			<key>Platform</key>
			<string>t8122</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>40</integer>
			<key>BoardConfig</key>
			<string>j456ap</string>
			<key>CPID</key>
			<integer>33027</integer>
			<key>Platform</key>
			<string>t8103</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>j457ap</string>
			<key>CPID</key>
			<integer>33027</integer>
			<key>Platform</key>
			<string>t8103</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>36</integer>
			<key>BoardConfig</key>
			<string>j473ap</string>
			<key>CPID</key>
			<integer>33042</integer>
			<key>Platform</key>
			<string>t8112</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>j474sap</string>
			<key>CPID</key>
			<integer>24608</integer>
			<key>Platform</key>
			<string>t6020</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>j475cap</string>
			<key>CPID</key>
			<integer>24609</integer>
			<key>Platform</key>
			<string>t6021</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>10</integer>
			<key>BoardConfig</key>
			<string>j475dap</string>
			<key>CPID</key>
			<integer>24610</integer>
			<key>Platform</key>
			<string>t6022</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>j493ap</string>
			<key>CPID</key>
			<integer>33042</integer>
			<key>Platform</key>
			<string>t8112</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>34</integer>
			<key>BoardConfig</key>
			<string>j504ap</string>
			<key>CPID</key>
			<integer>33058</integer>
			<key>Platform</key>
			<string>t8122</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>68</integer>
			<key>BoardConfig</key>
			<string>j514cap</string>
			<key>CPID</key>
			<integer>24625</integer>
			<key>Platform</key>
			<string>t6031</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>68</integer>
			<key>BoardConfig</key>
			<string>j514map</string>
			<key>CPID</key>
			<integer>24628</integer>
			<key>Platform</key>
			<string>t6034</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j514sap</string>
			<key>CPID</key>
			<integer>24624</integer>
			<key>Platform</key>
			<string>t6030</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>70</integer>
			<key>BoardConfig</key>
			<string>j516cap</string>
			<key>CPID</key>
			<integer>24625</integer>
			<key>Platform</key>
			<string>t6031</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>70</integer>
			<key>BoardConfig</key>
			<string>j516map</string>
			<key>CPID</key>
			<integer>24628</integer>
			<key>Platform</key>
			<string>t6034</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>j516sap</string>
			<key>CPID</key>
			<integer>24624</integer>
			<key>Platform</key>
			<string>t6030</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>j575cap</string>
			<key>CPID</key>
			<integer>24641</integer>
			<key>Platform</key>
			<string>t6041</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>68</integer>
			<key>BoardConfig</key>
			<string>j575dap</string>
			<key>CPID</key>
			<integer>24626</integer>
			<key>Platform</key>
			<string>t6032</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>34</integer>
			<key>BoardConfig</key>
			<string>j604ap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>48</integer>
			<key>BoardConfig</key>
			<string>j613ap</string>
			<key>CPID</key>
			<integer>33058</integer>
			<key>Platform</key>
			<string>t8122</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j614cap</string>
			<key>CPID</key>
			<integer>24641</integer>
			<key>Platform</key>
			<string>t6041</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>4</integer>
			<key>BoardConfig</key>
			<string>j614sap</string>
			<key>CPID</key>
			<integer>24640</integer>
			<key>Platform</key>
			<string>t6040</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>50</integer>
			<key>BoardConfig</key>
			<string>j615ap</string>
			<key>CPID</key>
			<integer>33058</integer>
			<key>Platform</key>
			<string>t8122</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>j616cap</string>
			<key>CPID</key>
			<integer>24641</integer>
			<key>Platform</key>
			<string>t6041</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>6</integer>
			<key>BoardConfig</key>
			<string>j616sap</string>
			<key>CPID</key>
			<integer>24640</integer>
			<key>Platform</key>
			<string>t6040</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>36</integer>
			<key>BoardConfig</key>
			<string>j623ap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>38</integer>
			<key>BoardConfig</key>
			<string>j624ap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>34</integer>
			<key>BoardConfig</key>
			<string>j704ap</string>
			<key>CPID</key>
			<integer>33090</integer>
			<key>Platform</key>
			<string>t8142</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>44</integer>
			<key>BoardConfig</key>
			<string>j713ap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>46</integer>
			<key>BoardConfig</key>
			<string>j715ap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>42</integer>
			<key>BoardConfig</key>
			<string>j773gap</string>
			<key>CPID</key>
			<integer>33074</integer>
			<key>Platform</key>
			<string>t8132</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>2</integer>
			<key>BoardConfig</key>
			<string>j773sap</string>
			<key>CPID</key>
			<integer>24640</integer>
			<key>Platform</key>
			<string>t6040</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>32</integer>
			<key>BoardConfig</key>
			<string>vma2macosap</string>
			<key>CPID</key>
			<integer>65024</integer>
			<key>Platform</key>
			<string>vmapple2</string>
			<key>SCEP</key>
			<integer>0</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>BDID</key>
			<integer>240</integer>
			<key>BoardConfig</key>
			<string>x86legacymacap</string>
			<key>CPID</key>
			<integer>32786</integer>
			<key>Platform</key>
			<string>x86_64</string>
			<key>SCEP</key>
			<integer>1</integer>
			<key>SDOM</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>ProductBuildVersion</key>
	<string>25C56</string>
	<key>ProductVersion</key>
	<string>26.2</string>
	<key>SupportedProductTypeIDs</key>
	<dict>
		<key>DFU</key>
		<array>
			<integer>33579040</integer>
			<integer>33579072</integer>
			<integer>33579073</integer>
			<integer>67133441</integer>
			<integer>67133472</integer>
			<integer>67133473</integer>
			<integer>67133488</integer>
			<integer>67133504</integer>
			<integer>67133505</integer>
			<integer>100687904</integer>
			<integer>100687905</integer>
			<integer>100687920</integer>
			<integer>100687936</integer>
			<integer>100687937</integer>
			<integer>134242304</integer>
			<integer>134242305</integer>
			<integer>134242338</integer>
			<integer>167796736</integer>
			<integer>167796737</integer>
			<integer>167796769</integer>
			<integer>167796770</integer>
			<integer>201351170</integer>
			<integer>251691026</integer>
			<integer>503349266</integer>
			<integer>536935936</integer>
			<integer>570458130</integer>
			<integer>570458371</integer>
			<integer>570458402</integer>
			<integer>570458418</integer>
			<integer>570458434</integer>
			<integer>587235346</integer>
			<integer>604012803</integer>
			<integer>604012818</integer>
			<integer>604012850</integer>
			<integer>637567235</integer>
			<integer>637567282</integer>
			<integer>671121667</integer>
			<integer>671121682</integer>
			<integer>671121698</integer>
			<integer>704676099</integer>
			<integer>704676114</integer>
			<integer>704676130</integer>
			<integer>704676146</integer>
			<integer>738230578</integer>
			<integer>771784978</integer>
			<integer>771785010</integer>
			<integer>805339426</integer>
			<integer>838893858</integer>
			<integer>939556882</integer>
			<integer>973111314</integer>
			<integer>1040220178</integer>
			<integer>1140875313</integer>
			<integer>1140875314</integer>
			<integer>1140875316</integer>
			<integer>1174429745</integer>
			<integer>1174429748</integer>
			<integer>4026564626</integer>
		</array>
		<key>Recovery</key>
		<array>
			<integer>33579040</integer>
			<integer>33579072</integer>
			<integer>33579073</integer>
			<integer>67133441</integer>
			<integer>67133472</integer>
			<integer>67133473</integer>
			<integer>67133488</integer>
			<integer>67133504</integer>
			<integer>67133505</integer>
			<integer>100687904</integer>
			<integer>100687905</integer>
			<integer>100687920</integer>
			<integer>100687936</integer>
			<integer>100687937</integer>
			<integer>134242304</integer>
			<integer>134242305</integer>
			<integer>134242338</integer>
			<integer>167796736</integer>
			<integer>167796737</integer>
			<integer>167796769</integer>
			<integer>167796770</integer>
			<integer>201351170</integer>
			<integer>251691026</integer>
			<integer>503349266</integer>
			<integer>536935936</integer>
			<integer>570458130</integer>
			<integer>570458371</integer>
			<integer>570458402</integer>
			<integer>570458418</integer>
			<integer>570458434</integer>
			<integer>587235346</integer>
			<integer>604012803</integer>
			<integer>604012818</integer>
			<integer>604012850</integer>
			<integer>637567235</integer>
			<integer>637567282</integer>
			<integer>671121667</integer>
			<integer>671121682</integer>
			<integer>671121698</integer>
			<integer>704676099</integer>
			<integer>704676114</integer>
			<integer>704676130</integer>
			<integer>704676146</integer>
			<integer>738230578</integer>
			<integer>771784978</integer>
			<integer>771785010</integer>
			<integer>805339426</integer>
			<integer>838893858</integer>
			<integer>939556882</integer>
			<integer>973111314</integer>
			<integer>1040220178</integer>
			<integer>1140875313</integer>
			<integer>1140875314</integer>
			<integer>1140875316</integer>
			<integer>1174429745</integer>
			<integer>1174429748</integer>
			<integer>4026564626</integer>
		</array>
	</dict>
	<key>SupportedProductTypes</key>
	<array>
		<string>Mac13,1</string>
		<string>Mac13,2</string>
		<string>Mac14,10</string>
		<string>Mac14,12</string>
		<string>Mac14,13</string>
		<string>Mac14,14</string>
		<string>Mac14,15</string>
		<string>Mac14,2</string>
		<string>Mac14,3</string>
		<string>Mac14,5</string>
		<string>Mac14,6</string>
		<string>Mac14,7</string>
		<string>Mac14,8</string>
		<string>Mac14,9</string>
		<string>Mac15,10</string>
		<string>Mac15,11</string>
		<string>Mac15,12</string>
		<string>Mac15,13</string>
		<string>Mac15,14</string>
		<string>Mac15,3</string>
		<string>Mac15,4</string>
		<string>Mac15,5</string>
		<string>Mac15,6</string>
		<string>Mac15,7</string>
		<string>Mac15,8</string>
		<string>Mac15,9</string>
		<string>Mac16,1</string>
		<string>Mac16,10</string>
		<string>Mac16,11</string>
		<string>Mac16,12</string>
		<string>Mac16,13</string>
		<string>Mac16,2</string>
		<string>Mac16,3</string>
		<string>Mac16,5</string>
		<string>Mac16,6</string>
		<string>Mac16,7</string>
		<string>Mac16,8</string>
		<string>Mac16,9</string>
		<string>Mac17,2</string>
		<string>MacBookAir10,1</string>
		<string>MacBookPro17,1</string>
		<string>MacBookPro18,1</string>
		<string>MacBookPro18,2</string>
		<string>MacBookPro18,3</string>
		<string>MacBookPro18,4</string>
		<string>MacPro7,1</string>
		<string>Macmini9,1</string>
		<string>VirtualMac2,1</string>
		<string>iMac21,1</string>
		<string>iMac21,2</string>
		<string>iSim1,1</string>
	</array>
	<key>SystemRestoreImageFileSystems</key>
	<dict>
		<key>../Restore/022-20598-069.dmg.aea</key>
		<string>APFS</string>
		<key>../Restore/043-90104-068.dmg.aea</key>
		<string>APFS</string>
		<key>../Restore/BaseSystem.dmg</key>
		<string>APFS</string>
	</dict>
</dict>
</plist>
